.nominastb{
    width: 100%;

    .header{
        width: 100%;
        display: flex;
        justify-content: space-between;
    
        .Principal{
            display: flex;
            gap: 10px;
        }
    }
}