.empleadostb{
    width: 100%;

    #td{
        overflow-x: scroll;
        overflow-y: scroll;

        &::-webkit-scrollbar{
            width: 5px;
        }
      
        &::-webkit-scrollbar-thumb{
            background-color: #a4a4a4;
            border-radius: 5px;
        }
    }
}