.Modal{
    margin-top: 200px;
    
    &::-webkit-scrollbar{
        width: 5px;
    }

    &::-webkit-scrollbar-thumb{
        background-color: #a4a4a4;
        border-radius: 5px;
    }
}

.btn{
    margin-left: 10px;
}

.excla{
    width: 40px;

}

.details{
    display: grid;
    gap: 30px;

    .atribute{
        display: flex;

        .title{
            font-weight: 500;
        }

        .p{
            font-weight: 350;
        }
    }
}

.empleadostb{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .header{
        width: 100%;
        display: flex;
        justify-content: space-between;

        .Secundario{
            display: flex;
            gap: 10px;
        }

        .tb{
            overflow-x: scroll;
            overflow-y: scroll;
            min-width: 1000px;
            font-weight: 300;

            &::-webkit-scrollbar{
                width: 5px;
            }
        
            &::-webkit-scrollbar-thumb{
                background-color: #a4a4a4;
                border-radius: 5px;
            }
        }

    }

}