.Modal{
    margin-top: 200px;
}

.empleadostb{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .header{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #td{
        overflow-x: scroll;
        overflow-y: scroll;

        &::-webkit-scrollbar{
            width: 5px;
        }
      
        &::-webkit-scrollbar-thumb{
            background-color: #a4a4a4;
            border-radius: 5px;
        }
    }

}