.dash{
    width: 100%;
    height: 100vh;

    .cards{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));

        .link{
            text-decoration: none;
            color: black;
        }

        .card{
            border-radius: 5px;
            background-color: #D9D9D9;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 30px;
            transition: all 500ms;

            img{
                width: 60px;
                margin: 50px;
            }

            .text{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                h1{
                    font-weight: 350;
                }
            }

            h1{
                font-size: 54px;
                margin: 0px;
            }

            h3{
                margin: 0px;
            }

            &:hover{
                box-shadow: 0px 0px 4px black;
            }
        }
    }

    .employee{
        display: grid;
        padding: 0;
        gap: 10px;
        margin: 0px;
        display: flex;
        flex-direction: column-reverse;
       
        li{
            display: flex;
            list-style: none;
            padding: 10px;
            border-radius: 5px;
            background-color: #D9D9D9;

            h4{
                margin: 0px;
                font-weight: 350;
            }
        }
    }
}